<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="UserLeQiao" class="com.lizi.boot.Bean.User">
        <property name="name" value="le"></property>
        <property name="age" value="18"></property>
        <property name="sex" value="男"></property>
    </bean>

    <bean id="tomLiZi" class="com.lizi.boot.Bean.Dog">
        <property name="name" value="wang"></property>
        <property name="age" value="18"></property>
    </bean>
</beans>